@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: source;
    src: url(../font/SourceSansPro-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: source;
}

:root {
    --clr-root: #04d9ff;
    --clr-bg: #00051d;
    --clr-bg2: #030613;
    --clr-txt: hwb(300 51% 7%);
    --clr-linear: linear-gradient(to right, blue, green);
}

.box {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-bg2);
}

.calculator {
    background: var(--clr-bg);
    border: 2px ridge var(--clr-root);
    border-radius: 20px;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    pointer-events: none;
    position: relative;
}

form .content span {
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 24px;
    /* display: none; */
    position: absolute;
    top: -20%;
}
.hidden{
    display: none;
}

form .content .display {
    /* background: red; */
    font-size: 3rem;
    color: aqua;
    /* overflow: hidden; */
    pointer-events: none;
    border: none;
    flex: 1 1 0%;
    text-align: right;
}

.calculator form input,
.calculator form button {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: -8px -8px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.3);
    background: transparent;
    font-size: large;
    color: azure;
    cursor: pointer;
    border: 2px ridge var(--clr-root);
}

input[type='text'] {
    box-shadow: none !important;
}

form button.equal {
    background: #34eb349c !important;
    /* width: 8rem !important; */
    transition: all .2s ease-in-out;
}

form button.equal:active,
.calculator form input:active {
    opacity: 0;
}

@media screen and (width < 300px) {
    .calculator {
        padding-left: 10px !important;

    }

    .calculator form input,
    .calculator form button {
        width: 45px !important;
    }

    .display {
        font-size: 1.3rem !important;
        padding-right: 10px !important;
    }


}